{% extends 'baseUser.html.twig' %}
{% block body %}
    <div class="container-lg my-5">
        <table class="mx-auto rounded">
            <tr>
                <th class="text-center p-2 border border-dark">Nummer</th>
                <th class="text-center p-2 border border-dark">Model</th>
                <th class="text-center p-2 border border-dark">Type</th>
                <th class="text-center p-2 border border-dark">Prijs (euro)</th>
            </tr>
            {% for car in cars %}
                <tr>
                    <td class="text-center p-2 border border-dark">{{ car.id }}</td>
                    <td class="text-center p-2 border border-dark">{{ car.model }}</td>
                    <td class="text-center p-2 border border-dark">{{ car.type }}</td>
                    <td class="p-2 border border-dark">€{{ (car.prijs)|number_format(2, ',', '.') }}</td>
                    <td class="text-center py-2 px-3"><a href="{{ path('car_details', {id: car.id}) }}" class="btn btn-outline-info">details</a></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path('car_insert') }}" class="btn btn-warning mx-auto">insert</a>
    </div>
{% endblock %}